//Cores globais:
$corDia: #90caf9;
$corTarde: #ffcc80;
$corNoite: #01579b;
$corTexto: #fff;

//Comportamentos globais:
.nav-item .link-n{color: #212121;}
.nav-item .link-n:hover{padding: 5px;background-color: #ffcc80;
transition: .3s;border-radius: 6px;}
a{text-decoration: none;
    color: #212121;
}

//header
.logo{width: 90px;height: 35px;}

//index
.principal{
    .title-tempo{color: $corTexto;margin-top: 30px;
        font-size: 22px;
    }.desc-tempo{color:$corTexto;
        font-weight: 500;
    }
    .img-tempo1{
        img{max-width: 500px;
            background-repeat: no-repeat;
            background-size: cover;
            height: 400px;
            object-fit: cover;
            border-radius: 7px;
            margin: 20px auto;
        }
    }
}

//footer
.footer-img{object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}